@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;